@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300');

.wraper {
    display: flex;
    width: 100vw;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.conteiner {
    width: 1140px;
    height: 100%;
}

.column {
    flex-direction: column;

}

.flex {
    display: flex;
}

.centring {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    width: 1140px;
    height: 100px;
    /*width: 100%;*/
    justify-content: space-between;

}

.header_logo {

    width: 158px;
    height: 86px;
    background-image: url("../img/header_logo.png");
}

.header_nav {
    flex-direction: row;
    width: 340px;
    font-size: 14px;
    justify-content: space-around;
    /*text-transform: uppercase;*/
    list-style-type: none;
}

.header_nav :hover {
    text-decoration: underline;
    color: #203a9f;
}



.header_right {
    width: 400px;
    justify-content: space-between;
}

.header_phone {
    font-size: 24px;
}

.header_insta {
    width: 28px;
    height: 28px;
    background-image: url("../img/header_insta.png");
}

.header_buy {
    width: 144px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    background-color: #040a88;
    border-radius: 3px;
}

.long_line {
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    background-color: #e5e5e5;
}

.banner {
    width: 100vw;
    height: 645px;
    background-image: url("../img/banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: white;*/
    /*opacity: 0.84;*/
}

.banner_layer {
    width: 100vw;
    height: 645px;
    background-image: url("../img/banner2.png");
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: white;*/
    opacity: 0.84;
}

.banner_text {
    width: 1140px;
    flex-direction: column;
    color: #040a88;
}

.first {
    font-size: 30px;
    font-weight: 400;
}

.second {
    font-size: 72px;
    font-weight: 700;
}


.blue_line {
    width: 60px;
    height: 2px;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #040a88;
}

.when {
    flex-direction: row;
}

.cal {
    width: 32px;
    height: 32px;
    margin-right: 35px;
    background-image: url("../img/calendar.png");
}

.date {
    color: #040a88;
    font-size: 36px;
    font-weight: 300;
}

.where {
    flex-direction: row;
}

.placeholde {
    width: 32px;
    height: 30px;
    margin-right: 35px;
    background-image: url(../img/placeholder.png)
}

.place {
    color: #040a88;
    font-size: 36px;
    font-weight: 300;
}

.find_more {
    width: 100vw;
    height: 100%;
}

.find_more_photo {
    width: 585px;
    height: 448px;
    background-image: url(../img/find_more_photo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.find_more_text {
    width: 486px;
    height: 448px;
    margin-left: 69px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #332530;
}

.find_more_text p {
    margin: 0;
}

.who_will_be_useful {
    width: 100vw;
    height: 532px;
    background-image: url(../img/who_will_background.png);
    background-size: cover;
    background-repeat: no-repeat
}

.who_will_be_useful_text {
    font-family: "Helvetica Neue Bold Condensed";
    font-size: 60px;
    font-weight: 400;
    color: #040a88;
}

.gray_line {
    width: 54px;
    height: 3px;
    background-color: #b7b7bb;
    margin-top: 40px;
    margin-bottom: 60px;
}

.who_will_be_useful_info {
    width: 100%;
    justify-content: space-between;
}

.who_will_be_useful_info_block {
    height: 212px;
    justify-content: space-between;
}

.info_number {

    color: #ff006c;
    font-family: Bellico;
    font-size: 150px;
    /*line-height: 72.4px;*/
}

.info_text {
    width: 342px;
    font-size: 16px;
    line-height: 24px;
    color: #332530;
    border-left: 5px solid #b7b7bb;
}

/*Ведущие эксперты lash & brow-индустрии*/

.leading_experts_text {
    font-family: "Helvetica Neue Bold Condensed";
    font-size: 58px;
    color: #040a88;
}

.leading_experts {
    justify-content: space-between;

}

.judge {
    height: 465px;
    justify-content: space-between;
}

.judge_photo {
    width: 263px;
    height: 263px;
}

.judge_photo {
    margin-bottom: 42px;
}

.judge_name {
    /*    margin-top: 42px;*/
    font-size: 16px;
    font-weight: 700;
    color: #203a9f;
}

.judge_content {
    height: 150px;
    justify-content: space-between;

}

.show_all {

    width: 186px;
    height: 50px;
    margin-top: 42px;
    font-size: 18px;
    color: #203a9f;
    border: 2px solid #203a9f;
    border-radius: 3px;
    cursor: pointer;
}
